.createPopup {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    display: block;
    font-size: 20px;

}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 20px;
}

.main_currency {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.main_currency input[type="radio"] {
    margin-right: 5px;
}

.button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #45a049;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal p {
    margin: 0; /* Remove default margin for the paragraph inside the modal */
}

.accountInfo {
    display: flex;
    flex-direction: row;
}

.container {
    margin: 20px;
    display: flex;
    align-items: flex-start;
}

.container a,
.container select {
    padding: 10px;
    background-color: #4CAF50; 
    color: #fff; 
    border: 1px solid #4CAF50;
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.container a:hover,
.container select:hover {
    background-color: #45a049; 
}

.container select option[selected] {
    background-color: #45a049; 
    color: #fff; 
}

.show {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.show p {
    background-color: #f0f0f0; 
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.show p.name {
    font-weight: bold;
    color: #333; 
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555; 
}

.accountItem {
    display: flex;
    gap: 20px;
}